.Navigation {
  color: rgba(255, 250, 250, 0.5);
  
}

.Navigation a:hover{
  background-color: #282c34;
  color: whitesmoke;
  opacity: 0.5;
}

.Navigation .selected {
  background-color: #282c34;
  color: white;
}
